
/* You can add global styles to this file, and also import other style files */


table,
thead,
tr,
tbody,
th,
td {
  justify-content: center!important;
  text-align: center;
}


.clickable:hover{
  cursor: pointer;
}
